body {
    background-color: rgb(119, 120, 121);
    font: normal 15pt Arial;
}   

header {
     color: white;
     text-align: center;
}

section{
    background-color: white;
    border-radius: 10px; /* border-radius arrdonda as bordar de um espaco. Exp: div, section etc*/
    padding: 15px; /* Tamanho da regiao do item, texto etc*/
    width: 500px;
    margin: auto; /*Centraliza o item no meio da tela*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.432); /*Adiciona sombra suave no item*/
}

footer{
    color:white;
    text-align: center;

}

h1{
    text-shadow: 5px 5px 5px black;
}

